
/* 스포카한산스를 웹 폰트로 설정
   font-weight로 글꼴 바꿈
   CDN : Content Delivery Network 서비스

   성능 관점에서는 HTML에 넣는 것이 더 좋지만 현재는 import 과정으로 씁니다
*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.a11y-hidden {
  /*  */
  position: absolute;

  /*  display: none; */
  
  /*  접근성 문제 
  top: -9999px;
  */ 

  /* 최소한의 크기 */
  width: 1px;
  height: 1px;
  
  /* 내용이 넘치면 잘라지고 보여지지 않음, 자른 부분은 사라지지 않음 */
  overflow: hidden;

  /* 보여주고 싶은 영역 xyz좌표 */
  clip-path: polygon(0 0, 0 0, 0 0);
  
}

body{
  background-color: #fff;
  
  /* HTML은 블럭들의 모임
    블럭에 user agent stylesheet라고 하는, 기본으로 지정해주는 부분이 있음
    margin은 블럭 주변에 기본으로 잡아주는 여백
    내가 만들 디자인에 필요없는 여백은 내가 지정해서 없앨 수 있음*/
  margin: 0;
}

body *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  /* 테두리 굵기 */
  border: 0;

  /* 내가 정하지 않으면 기본 16px user agent stylesheet
     상속을 통해 내가 지정한 body 안의 모든 자식들이 함께 지정됨

     app 기본단위 - px,pt
     web 기본단위- em, %, .... 
     1em = 100%
  */

  font-size: 100%;
  font-weight: 400; 
  /* normal = regular or 400 */

  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

img{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a{
  /* inherit = 상속을 우선순위로 */
  color: inherit;

  /* 밑줄 지우기 */
  text-decoration: none;
}

/* 로고 */
.brand{
  display: flex;
  justify-content: center;
  padding: 70px 0 35px;
}

.brand a{
  display: block;
  width: 51.5625%;
  min-width: 165px;
  max-width: 280px;
  /* height: 35px; */
}

/* 로그인 폼 */
.login-form{
  padding: 0 15px;
}

.login-form fieldset{
  display: flex;
  flex-wrap: wrap;

}

.user-id{
  width: 100%;
  margin-bottom: 8px;
}

.user-pw{
  width: 100%;
  margin-bottom: 14px;
}

.keep-login{
  background: lightgreen;
  width: 50%;
  order: 1;
  margin-bottom: 14px;
}

.ip-security{
  width: 50%;
  order: 1;
  display: none;
  margin-bottom: 14px;
}

.button-login{
  background: yellow;
  width: 100%;
  margin-bottom: 14px;
}

/* 입력서식 INPUT */
.input{
  width: 100%;
  padding: 14px 14px 13px 14px;
  font-size: 14px;
  line-height: 21px;
  border-radius: 0px;
}

.input-normal{
  /* 선 굵기, 모양, 색상 */
  border: 1px solid #dadada;
  color: #999;
}

.error-message{
  display: none;
  /* display: block */
  font-size: 13px;
  line-height: 18px;
  color: #ff1414;
  padding: 8px 0;
}

/* 버튼 - button */
.button{
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 0;
  border-radius: 0px;
}

.button-primary{
  background: #03c75a;
  color: #fff;
}

/* .링크 텍스트 -a */
.ip-security a{
  color: #333;
}

.ip-security-toggle{
  position: relative;
}

.ip-security-toggle .checkbox{
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

.ip-security-state{
  margin-left: 4px;
  cursor: pointer;
}

.ip-security-state,
.ip-security-state.is-off{
  color: #999;
}

.ip-security-state.is-on, 
.ip-security-toggle .checkbox:checked + .ip-security-state{
  color: #03c75a;
}


/* 위에는 모바일 이하 적용 */

/* 모바일 이상 크기 */
@media screen and (min-width: 769px){

  .brand{
    padding: 106px 0 53px;
  }

  .brand a{
    width: 230px;
    height: 44px;
  }  

  .login-form{
    display: flex;
    justify-content: center;
  }

  .login-form fieldset{
    width: 460px;
  }

  .ip-security{
    display: flex;
    /* text-align: right; */
    justify-content: flex-end;
  }
}

/* 데스크나 태블릿은 고정 레이아웃, 모바일은 유동 레이아웃 */
/* shift+ctrl+K : 커서가 있는 영역 줄 내용 전체 지움*/